@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: lightblue;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

input {
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: purple;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.circle {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: black;
  border-radius: 50%;
}

.triangle {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 140px);
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 300px solid purple;
}

.message {
  position: absolute;
  top: calc(50% - 55px);
  left: calc(50% - 55px);
  color: white;
  font-weight: bold;
}

.message {
  z-index: 2;
}
